@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800;900&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }

body, html {
  font-family: 'Outfit', sans-serif;
  background: #050505;
  color: #fff;
  min-height: 100vh;
}
